<div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">    <!-- we are usimg grid system total spaces 12 assigned 10 left 2 spaces gap  -->
                
                <nav class="navbar navbar-expand-lg">  <!-- bootstrap code of nav bar   removed its color which was set automatic-->  
                    <a class="navbar-brand" href="#"> <i class="far fa-snowflake"></i> ShivamWeather <i class="far fa-snowflake"></i></a>  <!--navbar title--> <!--added  far fa snoflake symbol-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">    <!--changed mr-auto to ml-auto ie margin right to margin left this makes all the link go RIGHT side ie about and weather wala -->
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">                          <!--link -->
                          <a class="nav-link" href="/weather">Weather</a>      <!--added link and changed href="#" to /weather like this our page name-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                          </li>
                        
                      </ul>
                     
                    </div>
                  </nav>
            </div>
        </div>
    </div>
